{% extends "base.html" %}
{% block content %}

<section class="admin-page">

<h1 class="admin-title">👑 Admin Panel</h1>

<div class="admin-top-btns">

    <a href="/dashboard">
        <button class="gold-btn">📊 Dashboard</button>
    </a>

    <a href="/orders">
        <button class="gold-btn">📦 Orders</button>
    </a>

    <a href="/trash">
        <button class="dark-btn">🗑 Trash</button>
    </a>

    <a href="/logout">
        <button class="red-btn">Logout</button>
    </a>

</div>

<!-- Add Product -->
<div class="form-box">

<h2>Add New Product</h2>

<form method="POST" enctype="multipart/form-data" class="admin-form">

    <input type="text" name="name" placeholder="Product Name" required>

    <input type="number" name="price" placeholder="Price" required>

    <input type="file" name="file" required>

    <button type="submit">➕ Add Product</button>

</form>

</div>

<!-- Product List -->
<div class="admin-list">

{% for p in products %}
<div class="admin-card">

    {% set media = p[4] if p[4] else p[3] %}

    {% if media %}
        <img src="{{ url_for('static', filename='images/' ~ media) }}">
    {% endif %}

    <h3>{{ p[1] }}</h3>
    <p>₹{{ p[2] }}</p>

    <div class="card-btns">

        <a href="/edit/{{ p[0] }}">
            <button class="edit-btn">Edit</button>
        </a>

        <a href="/delete/{{ p[0] }}" onclick="return confirm('Delete product?')">
            <button class="delete-btn">Delete</button>
        </a>

    </div>

</div>


{% endfor %}



</div>

</section>

{% endblock %}