{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center;">❤️ My Wishlist</h2>

<div class="grid">

{% for p in items %}
<div class="card">

    <div class="media-box">
        <a href="/product/{{ p[0] }}">
            <img src="{{ url_for('static', filename='images/' ~ p[3]) }}">
        </a>
    </div>

    <div class="card-info">
        <h3>{{ p[1] }}</h3>
        <p>₹{{ p[2] }}</p>

        <a href="/add/{{ p[0] }}">
            <button>Add to Cart</button>
        </a>

        <a href="/wishlist_remove/{{ p[0] }}">
            <button style="background:red;color:white;">Remove</button>
        </a>
    </div>

</div>
{% endfor %}

</div>

{% endblock %}